{
  "accounts": [
    {
      "username": "throwaway1",
      "password": "password1",
      "proxy": "username:password@host:port"
    },
    {
      "username": "throwaway2",
      "password": "password2",
      "proxy": "username:password@host:port"
    }
  ],
  "clientId": "your-client-id",
  "clientSecret": "your-client-secret",
  "upvotePercentage": 95
}