{
  "accounts": [
    {
      "username": "touchmybuttdev",
      "password": "reddit1296XDXPn700ms",
      "proxy": "intercou:ubUPeDUpY@23.244.172.133:18017"
    }
  ],
  "clientId": "k330OAtVFcKAHg",
  "clientSecret": "mlvXmABNuDqEvgyTc_2dKMihVBE",
  "upvotePercentage": 100
}